*{ max-width: 100%;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background: linear-gradient(skyblue,lightgreen);
}
.allbox{
    overflow: visible;
    background: #338bff;
    color:black;
    display: flex;
    flex-direction:column ;
    justify-content:flex-end ;
    align-items: center;
    flex-wrap: wrap;

}
.allbox  div{
    font-size: bold;
   background:white;
   width: 200px;
   height: 100px;
   margin: 4%;
   display: flex;
   justify-content: center;
   align-items: center;

}

@media (min-width:720px){
    .allbox{
        display: flex;
        
    }
}
